@model E_HealthCare_Web.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

@section Styles{
    <style type="text/css">
        .custom-font {
            font-family: 'Arial Rounded MT';
            font-style: oblique;
            color: indianred;
            font-size:large;
        }

        .custom-font-1 {
            font-family:'Arial Rounded MT';
        }

        .custom-placeholder::placeholder {
            font-family: 'Times New Roman', Times, serif;
            font-style: italic;
            font-size: medium;
        }

        .center-text{
            text-align:center;
        }
    </style>
}

<h2 style="font-family: 'Arial Rounded MT';">Forgot Password</h2>

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <div class="center-text">
            &nbsp;&nbsp;&nbsp;@Html.Label("* Please Enter your Registered Email down below to get a password reset link", new { @class = "control-label custom-font" })
        </div>
    </div>
    
    <br />
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control custom-placeholder", @placeholder = "enter email to reset the password", style = "display:inline;" } })
            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "custom-font", style = "display:inline;" })
        </div>
    </div>
                 

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Get Link" class="btn btn-primary" />           
        </div>
    </div>
</div>
}


<br />
<div class="col-md-offset-2 custom-font-1">
    &nbsp;Back to  @Html.ActionLink("Login", "Login")
</div>
