@model E_HealthCare_Web.ViewModels.UserLoginViewModel

@{
    ViewBag.Title = "Login";
}

@section Styles{
    <style type="text/css">
        .custom-font {
            font-family: 'Arial Rounded MT';
            color:rgba(0,0,0,0.6);
        }

        /* input.input-validation-error,
        textarea.input-validation-error,
        select.input-validation-error {
            border: 1px solid #CD0A0A;
        }*/
    </style>
}

<h2 class="custom-font">Login</h2>


@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "User Name", style = "display:inline;" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger", style = "display:inline;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", style = "display:inline;" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", style = "display:inline;" })
            </div>
        </div>


        <div class="form-group ">
            <div class="col-md-offset-2 col-md-10 ">
                @Html.ActionLink("Forgot Password?", "ForgotPassword", null, new { @style = "font-size:small" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-success" />
                @Html.ValidationMessage("Failure", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

<div class="col-md-offset-2 custom-font">
    Click @Html.ActionLink("Here", "SignUp") to Register
</div>
