
@model E_HealthCare_Web.ViewModels.AskQuestionViewModel
@{
    ViewBag.Title = "Dermatology";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style type="text/css">

        .header-section {
            padding: 10px 0 10px 0px;
        }

        .description-section {
            padding: 10px 5px 10px 10px
        }

        .inner-description {
            padding: 10px 100px 10px 100px;
            border-right: 1px solid #ccc;
        }

        .column1 {
            height: 500px;
            display: flex;
            align-items: center; /*center div vertically*/
            justify-content: flex-start; /*position div horizontally*/
            background-image: url('../Images/Hospital-theme-background.jpg');
            background-size: cover;
            background-color: #dfece2;
            background-position: center;
            background-blend-mode: lighten;
            margin-left: -15px;
        }

        .inner-content1 {
            display: flex;
            justify-content: flex-start;
            flex: 1;
            padding-left: 5em;
        }

        .column2 {
            position: relative;
            height: 500px;
            padding: 0px 5px 5px 30px;
        }

            .column2::before {
                content: '';
                bottom: 0;
                left: 6%;
                position: absolute;
                border-bottom: 1px solid #ccc;
                width: 74%;
            }


        .logo-style {
            height: auto;
            padding-top: 2px;
        }

        .logo-description {
            margin-top: -20px;
            margin-left: 20px;
        }

            .logo-description > h1 {
                font-size: calc(3em + 1vw);
                font-family: 'Arial Rounded MT';
            }

            .logo-description > p {
                font-size: calc(0.75em + 1vw);
                font-family: 'Arial Rounded MT';
                color: grey;
                margin-left: 5px;
            }

        .input-editor {
            max-width: 80%;
            height: 50px;
            font-size: 16px;
            border-radius: 5px;
            padding-left: 10px;
            background-color: rgba(0,255,153,0.05);
        }

        .input-button {
            min-width: 80%;
            height: 50px;
            font-size: x-large;
            border-radius: 5px;
            border: none;
            background-color: #00ff99;
            color: white;
            text-align: center;
        }

            .input-button:hover {
                background-color: #00cc7a;
            }

        .text-danger {
            font-family: 'Arial Rounded MT';
        }

        .checkbox-custom-style {
            pointer-events: none;
        }

        .span-text {
            font-family: 'Arial Rounded MT';
            color: grey;
        }

        .div-width {
            max-width: 80%;
            display: block;
        }

        .derm-description {
            font-family: 'Arial Rounded MT';
            color: gray;
        }

            .derm-description p b, .derm-description h1 {
                color: black;
            }

        .derm-description-FAQ {
            width: 100%;
            margin: 90px auto;
        }

            .derm-description-FAQ .custom-accordion {
                position: relative;
                margin: 10px 10px;
            }

            .derm-description-FAQ .accordio-label {
                position: relative;
                padding: 2px 0;
                color: #00acee;
                cursor: pointer;
                border-top: 1px solid gray;
                border-bottom: 1px solid gray;
                background-color: rgba(211,211,211,0.2)
            }

                .derm-description-FAQ .accordio-label::before {
                    content: '+';
                    color: gray;
                    position: absolute;
                    top: 50%;
                    right: 5px;
                    font-size: 30px;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                }

            .derm-description-FAQ .accordion-content {
                position: relative;
                background: rgba(0,255,153,0.03);
                max-height: 0px;
                font-size: 16px;
                text-align: justify;
                width: 100%;
                font-family: 'Arial Rounded MT';
                color: gray;
                overflow: hidden;
                transition: max-height 0.5s ease-in-out;
                -webkit-transition: max-height 0.5s ease-in-out;
            }

                .derm-description-FAQ .accordion-content p {
                    padding: 14px 17px 5px 7px;
                }



            .derm-description-FAQ .custom-accordion.active .accordion-content { /* Unhides the content part when active. Sets the height */
                max-height: 230px;
            }

            .derm-description-FAQ .custom-accordion.active .accordio-label::before { /* Changes from plus sign to negative sign once active */
                content: '-';
                font-size: 30px;
            }

        .quick-links {
            padding: 10px 0px 10px 20px;
            line-height: 2;
            font-family: initial;
        }

        .quick-link-text a {
            font-weight: 500;
            display: flex;
            align-items: flex-start;
            padding: 15px 0px 5px 15px;
        }

            .quick-link-text a:hover {
                text-decoration: none;
                font-weight: 800;
            }


        .glyphicon-plus-sign {
            font-size: 30px;
        }

        .glyphicon-calendar {
            font-size: 30px;
        }

        .text-position {
            display: inline-block;
            font-size: 18px;
            padding: 0px 0px 0px 5px;
            margin: 0px 0px -15px 0px;
        }
    </style>
}


<div class="row">
    <div class="header-section col-lg-12 col-md-12">
        <div class="column1 col-lg-8 col-md-8">
            <div class="inner-content1">
                <div class="logo-style">
                    <img src="~/Images/logo/derm.png" />
                </div>
                <div class="logo-description">
                    <h1>Dermatology</h1>
                    <p>
                        Dermatology and Cosmetology are among the most dynamic sciences in the world and we have been successfully serving the need of the patients.
                    </p>
                </div>
            </div>
        </div>
        <div class="column2 col-lg-4 col-md-4">
            <h1>Have a Question ?</h1>
            @using (@Html.BeginForm("SubmittedQuestion", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                <div>
                    @Html.EditorFor(p => p.FullName, "FullName", new { htmlAttributes = new { @class = "form-control input-editor", @placeholder = "Enter Name" } })
                    @Html.ValidationMessageFor(p => p.FullName, "", new { @class = "text-danger" })
                </div><br />
                <div>
                    @Html.EditorFor(p => p.Email, "Email", new { htmlAttributes = new { @class = "form-control input-editor", @placeholder = "Enter Email Address" } })
                    @Html.ValidationMessageFor(p => p.Email, "", new { @class = "text-danger" })
                </div><br />
                <div>
                    @Html.EditorFor(p => p.Contact, "Contact", new { htmlAttributes = new { @class = "form-control input-editor", @placeholder = "Enter Mobile Number" } })
                    @Html.ValidationMessageFor(p => p.Contact, "", new { @class = "text-danger" })
                </div><br />
                <div class="div-width">
                    @Html.CheckBoxFor(p => p.PrivacyPermission, new { @class = "checkbox-custom-style", @checked = "true" })
                    <span class="span-text">
                        By Clicking Submit, I agree to have read and understood the @Html.ActionLink("Terms and Conditions", "TermsAndCondition")
                        and @Html.ActionLink("Privacy Policy", "PrivacyPolicy") of E_HealthCare & give my consent to contact me.
                    </span>

                </div><br />
                <div>
                    <input type="submit" value="Submit" class="input-button check" />
                </div>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="description-section col-lg-12 col-md-12">

        <div class="inner-description col-lg-8 col-md-8">
            <div>
                @Html.ActionLink("E-HealthCare", "Index") >> @Html.ActionLink("Services", "Services") >> @Html.ActionLink("Dermatology and Cosmetology", "Dermatology")
            </div>
            <section class="derm-description">
                <h1>Dermatology and Cosmetology</h1>

                <p>
                    Our lifestyle, age, genetic, and environmental factors likely affect the natural and radiant glow on our skin. Having a vibrant, youthful,
                    and healthier life is often a dream of every college student; however, it often remains a great deal. But not anymore.<br />

                    When it comes to opting for medical cosmetic face and body treatments, they can make a big difference with less downtime.
                    From skin rejuvenation to hair restoration to sexually transmitted diseases, E-HealthCare  takes care of you at every step.
                    Trust us for all your advanced, dermatology needs with experienced providers of cosmetic dermatology.
                </p>
                <p>
                    Services of dermatology at E-HealthCare include-
                </p>
                <ul>
                    <li>
                        Paediatric dermatology
                    </li>
                    <li>
                        Dermatosurgery
                    </li>
                    <li>
                        Cosmetology
                    </li>
                    <li>
                        Allergies
                    </li>
                    <li>
                        All infections related to skin
                    </li>
                    <li>
                        Venereology
                    </li>
                </ul>
                <p>
                    Dermatologists skin doctors in India at E-HealthCare treat common skin conditions like eczema, psoriasis, vitiligo,
                    leprosy, fungal, viral and common bacterial conditions. They also look into Others conditions like baldness, hair loss, and nail disorders.
                    We are the most reputed and visited Hospital for clinical as well as cosmetic dermatology for every procedure and all skin types.<br />

                    The aim is to focus more on evidence-based treatment for the quality assurance of the patients.
                    Our dermatologists have the expertise to treat a wide spectrum of disease conditions ranging from acne to skin cancers.
                </p>
                <h3>
                    In addition to our daily out-patient services, we carry out diagnostic and cosmetic procedures
                    where the department provides care in the inpatient or ICU setting for patients of all age groups. Such as:
                </h3>

                <ul>
                    <li>Skin biopsies</li>
                    <li>Electrocautery for removal of skin tags, warts</li>
                    <li>Warts curettage of molluscum contagiosum</li>
                    <li>Chemical peels for pigmentation and scars</li>
                    <li>Treatment of acne scars</li>
                    <li>Dermaroller for scars</li>
                    <li>Ear piercing</li>
                    <li>Cryotherapy for warts</li>
                    <li>Corns</li>
                    <li>Intralesional injections for keloids</li>
                    <li>Patchy hair loss</li>
                    <li>Patch testing</li>
                    <li>Allergy testing</li>
                </ul>
                <p>
                    Our daily services also include referrals from other departments every day.
                </p>
                <h3>
                    Surgical procedures
                </h3>
                <p>
                    There are a variety of medical and cosmetic surgical procedures that dermatologists can perform.
                    While some conditions can be effectively treated with medications and non-invasive techniques, other conditions may require surgery or more invasive treatment.<br />

                    - Biopsies: Skin biopsies are done for the diagnosis of different skin conditions.
                    They are of three types – shave biopsies, punch biopsies and excision biopsies.<br />

                    - Chemical peels: This procedure involves the application of a chemical solution to peel off a layer of the skin.
                    Lying underneath is a layer of regenerated smooth skin. Chemical peels can be used to treat certain types of acne and sun-damaged skin.<br />

                    - Cosmetic injections: Your dermatologists will inject botulinum toxin therapy or fillers such as collagen and fat to temporarily reduce wrinkles, scarring and lost facial fullness.
                    The injections have to be repeated periodically as the treatments last for only a few months.<br />

                    - Cryotherapy: This treatment is commonly used to treat benign skin conditions like warts.
                    Liquid nitrogen is used to freeze the skin lesions and destroy the affected skin cells.<br />

                    - Dermabrasion: Your dermatologist will remove the top layer of skin using a high-speed rotating brush to surgically treat fine
                    wrinkles, tattoos, eroding scar tissue and potentially precancerous skin patches<br />

                    - Excision of lesions: Skin lesions are excised to prevent repeated infections, cosmetic reasons or to prevent a
                    disease from spreading. Usually, a local or general anaesthetic is applied to numb the area before removing the lesion.<br />

                    - Hair removal and restoration: The condition of hair loss can be treated with hair transplantation or surgery to the scalp.
                    Hair epilation or electrolysis is carried out for the removal of unwanted body hair and destroy the hair follicles.<br />

                    - Laser surgery: It involves using a special light beam for the treatment of tumours, warts, moles, tattoos, scars, birthmarks,
                    unwanted hair and wrinkles.
                </p>
                <h3>
                    Derma-Oncology (Skin Cancer)
                </h3>
                <p>
                    Skin being the largest organ, is subjected to non-stop exposure of various harmful agents such as intense sunlight, UV rays, chemicals and environmental agents.
                    This constant irritation and exposure make the skin susceptible to cancers. Most common types of skin cancers are-
                </p>
                <ul>
                    <li>
                        Basal Cell Carcinoma (BCC)
                    </li>
                    <li>
                        Melanoma
                    </li>
                    <li>
                        Squamous Cell Carcinomas
                    </li>
                    <li>
                        Lymphomas
                    </li>
                </ul>


                <h3>
                    Cosmetology
                </h3>
                <p>
                    With a team of skilled cosmetologists and skin doctors in India, backed by advanced surgical facilities and expert nursing care,
                    the cosmetology department at Narayana Health help enhance your looks and appearance. Our Cosmetic Surgeons are highly experienced in
                    high-end Cosmetic Surgery and treatment. We believe in providing cost-effective, efficient, caring, individualized attention, and state of the art
                    techniques in the treatment. At Narayana Health, we follow the latest and safest techniques.
                    We also offer endoscopic procedures which have minimal recovery time and discomfort. The services offered include-
                </p>
                <ul>
                    <li>Facelift</li>
                    <li>Rhinoplasty</li>
                    <li>Liposuction</li>
                    <li>Eyelid surgery</li>
                    <li>Breast Reduction</li>
                    <li>Breast Augmentation</li>
                    <li>Breast Lift</li>
                    <li>Tummy Tuck</li>
                    <li>Body Lift</li>
                </ul>

                <p>
                    The Cosmetic Surgeons at Mazumdar Shaw Medical Center at NH Health City,
                    Bangalore performs over 1000 cosmetic and reconstructive surgeries in a year. Each year, thousands of patients with some or
                    the other skin problem, visit us to get the best treatment for skin diseases in India. It is never too late to start caring for your skin.
                </p>
            </section>
            <br />

            <section class="derm-description-FAQ">
                <h3>Dermatology and Cosmetology FAQs</h3>
                <div class="custom-accordion">
                    <div class="accordio-label">
                        <h4>What's the difference between dermatology and cosmetology?</h4>
                    </div>
                    <div class="accordion-content">
                        <p>
                            Dermatology is a speciality in medicine that deals with all concerns of the skin. Dermatologists use medical and surgical methods to manage ailments of the skin.
                            Cosmetology includes the study and application of personal care treatments. These can include skincare, haircare, cosmetics and more.
                    </div>
                </div>

                <div class="custom-accordion">
                    <div class="accordio-label">
                        <h4>What kind of procedures do dermatologists do?</h4>
                    </div>
                    <div class="accordion-content">

                        <p>
                            Some of the procedures commonly performed by dermatologists include-
                        </p>
                        <ul>
                            <li>
                                Biopsies
                            </li>
                            <li>
                                Chemical Peel
                            </li>
                            <li>
                                Cosmetic Injections
                            </li>
                            <li>
                                Hair restoration
                            </li>
                            <li>
                                Laser surgeries
                            </li>
                            <li>
                                Skin grafts
                            </li>
                            <li>
                                Tumescent liposuction
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="custom-accordion">
                    <div class="accordio-label">
                        <h4>What are the different types of skin cancers?</h4>
                    </div>
                    <div class="accordion-content">
                        <p>
                            Skin cancer is one of the most common types of cancers. There are three types of skin cancers: Basal Cell Carcinoma (BCC),
                            Squamous Cell Carcinoma (SCC), and Melanoma. The first two types of skin cancers are unlikely to spread to any other part of the body.
                            One of the symptoms of melanoma is an increase in the size of the existing mole or appearance of new unusual mole-like growth.
                        </p>
                    </div>
                </div>

                <div class="custom-accordion">
                    <div class="accordio-label">
                        <h4>What are the different types of cosmetology procedures?</h4>
                    </div>
                    <div class="accordion-content">
                        <p>
                            There are a variety of cosmetic surgery procedures that are conducted and they include-
                            <ul>
                                <li>Breast enlargement</li>
                                <li>Breast reduction</li>
                                <li>Liposuction</li>
                                <li>Abdominoplasty</li>
                                <li>Body contouring procedures like lower body life</li>
                                <li>Facial cosmetic surgeries like eyelid surgery</li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="custom-accordion">
                    <div class="accordio-label">
                        <h4>What are the side-effects of laser hair removal?</h4>
                    </div>
                    <div class="accordion-content">
                        <p>
                            Laser hair removal is one of the most chosen solutions for thick hair growth. During this procedure,
                            the hair follicles are restricted from growing new hairs with the help of lasers. Though popular, the treatment can have several side-effects such as;
                            <ul>
                                <li>Redness</li>
                                <li>Changing skin colour</li>
                                <li>Skin infections</li>
                                <li>Scars (This is a possible side-effect but very rare)</li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="custom-accordion">
                    <div class="accordio-label">
                        <h4>Which are the best facial rejuvenation treatments?</h4>
                    </div>
                    <div class="accordion-content">
                        <p>
                            Rejuvenation treatments refer to cosmetic treatments done with the aim of achieving younger-looking skin and appearance.
                            Some of the commonly performed facial rejuvenation treatments include-
                            <ul>
                                <li>Chemical peels</li>
                                <li>Botox injections</li>
                                <li>Collagen Injections</li>
                                <li>Facial toning</li>
                                <li>Permanent Makeup</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Utility.js"></script>
}

