@model E_HealthCare_Web.ViewModels.AskQuestionViewModel
@{
    ViewBag.Title = "Pathology";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style type="text/css">

        .header-section {
            padding: 10px 0 10px 0px;
        }

        .description-section {
            padding: 10px 5px 10px 10px
        }

        .inner-description {
            padding: 10px 100px 10px 100px;
            border-right: 1px solid #ccc;
        }

        .column1 {
            height: 500px;
            display: flex;
            align-items: center; /*center div vertically*/
            justify-content: flex-start; /*position div horizontally*/
            background-image: url('../Images/Hospital-theme-background.jpg');
            background-size: cover;
            background-color: #dfece2;
            background-position: center;
            background-blend-mode: lighten;
            margin-left: -15px;
        }

        .inner-content1 {
            display: flex;
            justify-content: flex-start;
            flex: 1;
            padding-left: 5em;
        }

        .column2 {
            position: relative;
            height: 500px;
            padding: 0px 5px 5px 30px;
        }

            .column2::before {
                content: '';
                bottom: 0;
                left: 6%;
                position: absolute;
                border-bottom: 1px solid #ccc;
                width: 74%;
            }


        .logo-style {
            height: auto;
            padding-top: 2px;
        }

        .logo-description {
            margin-top: -20px;
            margin-left: 20px;
        }

            .logo-description > h1 {
                font-size: calc(3em + 1vw);
                font-family: 'Arial Rounded MT';
            }

            .logo-description > p {
                font-size: calc(0.75em + 1vw);
                font-family: 'Arial Rounded MT';
                color: grey;
                margin-left: 5px;
            }

        .input-editor {
            max-width: 80%;
            height: 50px;
            font-size: 16px;
            border-radius: 5px;
            padding-left: 10px;
            background-color: rgba(0,255,153,0.05);
        }

        .input-button {
            min-width: 80%;
            height: 50px;
            font-size: x-large;
            border-radius: 5px;
            border: none;
            background-color: #00ff99;
            color: white;
            text-align: center;
        }

            .input-button:hover {
                background-color: #00cc7a;
            }

        .text-danger {
            font-family: 'Arial Rounded MT';
        }

        .checkbox-custom-style {
            pointer-events: none;
        }

        .span-text {
            font-family: 'Arial Rounded MT';
            color: grey;
        }

        .div-width {
            max-width: 80%;
            display: block;
        }

        .psychology-description {
            font-family: 'Arial Rounded MT';
            color: gray;
        }

            .psychology-description p b, .psychology-description h1 {
                color: black;
            }

        .psychology-description-FAQ {
            width: 100%;
            margin: 90px auto;
        }

            .psychology-description-FAQ .custom-accordion {
                position: relative;
                margin: 10px 10px;
            }

            .psychology-description-FAQ .accordio-label {
                position: relative;
                padding: 2px 0;
                color: #00acee;
                cursor: pointer;
                border-top: 1px solid gray;
                border-bottom: 1px solid gray;
                background-color: rgba(211,211,211,0.2)
            }

                .psychology-description-FAQ .accordio-label::before {
                    content: '+';
                    color: gray;
                    position: absolute;
                    top: 50%;
                    right: 5px;
                    font-size: 30px;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                }

            .psychology-description-FAQ .accordion-content {
                position: relative;
                background: rgba(0,255,153,0.03);
                max-height: 0px;
                font-size: 16px;
                text-align: justify;
                width: 100%;
                font-family: 'Arial Rounded MT';
                color: gray;
                overflow: hidden;
                transition: max-height 0.5s ease-in-out;
                -webkit-transition: max-height 0.5s ease-in-out;
            }

                .psychology-description-FAQ .accordion-content p {
                    padding: 14px 17px 5px 7px;
                }



            .psychology-description-FAQ .custom-accordion.active .accordion-content { /* Unhides the content part when active. Sets the height */
                max-height: 410px;
            }

            .psychology-description-FAQ .custom-accordion.active .accordio-label::before { /* Changes from plus sign to negative sign once active */
                content: '-';
                font-size: 30px;
            }

        .quick-links {
            padding: 10px 0px 10px 20px;
            line-height: 2;
            font-family: initial;
        }

        .quick-link-text a {
            font-weight: 500;
            display: flex;
            align-items: flex-start;
            padding: 15px 0px 5px 15px;
        }

            .quick-link-text a:hover {
                text-decoration: none;
                font-weight: 800;
            }


        .glyphicon-plus-sign {
            font-size: 30px;
        }

        .glyphicon-calendar {
            font-size: 30px;
        }

        .text-position {
            display: inline-block;
            font-size: 18px;
            padding: 0px 0px 0px 5px;
            margin: 0px 0px -15px 0px;
        }
    </style>
}

<div class="row">
    <div class="header-section col-lg-12 col-md-12">
        <div class="column1 col-lg-8 col-md-8">
            <div class="inner-content1">
                <div class="logo-style">
                    <img src="~/Images/logo/psychology.png" />
                </div>
                <div class="logo-description">
                    <h1>Psycholoogy</h1>
                    <p>
                        Our highly experienced team offers Comprehensive Counselling to all Age groups and provides services such as Neuropsychiatry,
                        Addiction Medicine, Memory Clinics, and Child Psychiatry.
                    </p>
                </div>
            </div>
        </div>
        <div class="column2 col-lg-4 col-md-4">
            <h1>Have a Question ?</h1>
            @using (@Html.BeginForm("SubmittedQuestion", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                <div>
                    @Html.EditorFor(p => p.FullName, "FullName", new { htmlAttributes = new { @class = "form-control input-editor", @placeholder = "Enter Name" } })
                    @Html.ValidationMessageFor(p => p.FullName, "", new { @class = "text-danger" })
                </div><br />
                <div>
                    @Html.EditorFor(p => p.Email, "Email", new { htmlAttributes = new { @class = "form-control input-editor", @placeholder = "Enter Email Address" } })
                    @Html.ValidationMessageFor(p => p.Email, "", new { @class = "text-danger" })
                </div><br />
                <div>
                    @Html.EditorFor(p => p.Contact, "Contact", new { htmlAttributes = new { @class = "form-control input-editor", @placeholder = "Enter Mobile Number" } })
                    @Html.ValidationMessageFor(p => p.Contact, "", new { @class = "text-danger" })
                </div><br />
                <div class="div-width">
                    @Html.CheckBoxFor(p => p.PrivacyPermission, new { @class = "checkbox-custom-style", @checked = "true" })
                    <span class="span-text">
                        By Clicking Submit, I agree to have read and understood the @Html.ActionLink("Terms and Conditions", "TermsAndCondition")
                        and @Html.ActionLink("Privacy Policy", "PrivacyPolicy") of E_HealthCare & give my consent to contact me.
                    </span>

                </div><br />
                <div>
                    <input type="submit" value="Submit" class="input-button check" />
                </div>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="description-section col-lg-12 col-md-12">

        <div class="inner-description col-lg-8 col-md-8">
            <div>
                @Html.ActionLink("E-HealthCare", "Index") >> @Html.ActionLink("Services", "Services") >> @Html.ActionLink("Psychology", "Psychology")
            </div>
            <section class="psychology-description">
                <h1>Psychiatry and Clinical Psychology</h1>
                <h2>
                    DEFINITION
                </h2>
                <p>
                    E-HealthCare offers comprehensive psychiatric assessments for all age groups, management of common and enduring mental illnesses with a multispecialty
                    team-based approach and specialist services such as Neuropsychiatry, Addiction Medicine, Memory Clinics, Liaison and Child Psychiatry.<br />

                    'Mind' is perhaps the most powerful and fascinating organ of every individual. Anything and everything we think, feel, process and plan in daily life is anchored
                    by our mind. Any significant distress in the mind can lead to disorders which can be very disabling to the individual and their families. Fortunately, many mental
                    health disorders can be treated or kept under control with various pharmacological and psychosocial interventions to enable the subjects to function efficiently.
                </p>
                <h3>
                    Specialist Services
                </h3>
                <h3>
                    Neuropsychiatry
                </h3>
                <p>
                    Neuropsychiatry is an area of science and medicine that is focused on the study and treatment of psychiatric and neurological disorders in individuals.
                </p>
                <p>
                    Some of the clinical problems that need the intervention of a Neuropsychiatrist are:
                </p>
                <p>
                    - Parkinson’s disease leading to hallucinations or delusions on dopamine-enhancing medications.<br />

                    - Huntington disease exhibiting violent behaviour and personality changes.<br />

                    - Dementia causing behavioural and social disruptions.<br />

                    - Seizures with psychosis or depression.<br />

                    - Developmentally disabled patients with self-harming behaviour.<br />

                    - Patients with both schizophrenia and dementia.<br />

                    - Patients with Tourette's syndrome and severe obsessive-compulsive disorder.
                </p>

                <h3>
                    Addiction Medicine
                </h3>
                <p>
                    Addiction medicine is the field of psychiatry that deals with the diagnosis, evaluation, prevention, treatment and recovery of people with addiction.
                    They are also concerned with the treatment of people who are involved in unhealthy
                    substance abuse including nicotine, prescription medications, alcohol and other licit or illicit drugs.
                </p>

                <h3>
                    Memory Clinics
                </h3>
                <p>
                    Memory clinics offer the services of many specialists who treat and manage patients with issues related to mental health and ageing.
                    Generally, the patients are given a series of tests to check their ability to remember facts, process and retain information.
                    This diagnosis provides the doctors with an initial insight into their mental capabilities.
                    Further tests like a CAT scan to take x-ray images of the brain or an MRI scan to show a detailed picture of the brain may be ordered.<br />

                    Other tests that may be performed are SPECT scan and EEG. The SPECT scan depends on single-photon emission computerised tomography to check blood
                    flow through the brain. And the EEG uses an electroencephalogram imaging to record electrical activity within the brain.
                </p>
                <h3>
                    Child Psychiatry
                </h3>
                <p>
                    Child @Html.ActionLink("psychiatrists", "psychiatrists") assist children with mental health difficulties. Some of the mental health conditions that child psychiatrists can treat are – <br />acute symptoms of psychosis, expression of acute suicidal ideation and deliberate self-harming behaviours.
                </p>
                <p>
                    <b>Other Services include</b>
                    <ul>
                        <li>Psychological Assessment</li>
                        <li>Neuropsychological / Cognitive</li>
                        <li>Memory</li>
                        <li>Intelligence (IQ)</li>
                        <li>Learning Difficulty and Disability</li>
                        <li>Personality</li>
                        <li>Diagnostic Evaluation</li>
                        <li>Psychotherapy</li>
                        <li>Behaviour Therapy</li>
                        <li>Counselling and Coaching</li>
                        <li>Family Therapy</li>
                        <li>Marital Therapy</li>
                        <li>Cognitive Behaviour Therapy</li>
                    </ul>
                </p>

                <p>
                    We understand the decision to seek psychiatric care can be stressful and is just not easy. However, be assured as,
                    at E-HealthCare, you will be treated with sensitivity and respect to meet your individual, unique needs.
                </p>
            </section>
        </div>
        <div class="quick-links col-lg-4 col-md-4">
            <h3>
                Quick Links
            </h3>
            <div class="quick-link-text">
                <a href="#"><span class="glyphicon glyphicon-plus-sign"></span><div class="text-position">Find a Doctor</div></a>
            </div>
            <div class="quick-link-text">
                <a href="#"><span class="glyphicon glyphicon-calendar"></span><div class="text-position">Book an Appointment</div></a>

            </div>
        </div>
    </div>
</div>

