@model E_HealthCare_Web.ViewModels.FindDoctorViewModel

@{
    ViewBag.Title = "Find Doctors";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

@section Styles{

    <style type="text/css">

        .findr-wrapper {
            padding: 1rem;
            font-family: 'Comic Sans MS';
        }

        .finddr-main-section {
            display: flex;
            gap: 1rem;
        }

        .finddr-input-section {
            padding: 0 1rem;
            flex: 0 1 40%;
        }

        .center-sec {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1rem;
            gap: 1rem;
            border: 1px solid rgba(116,189,160,0.4);
            background: linear-gradient(-90deg,rgba(116,189,160,0.1),rgba(116,189,160,0.2),rgba(116,189,160,0.2));
            box-shadow: 0 0 3px 0.3px rgba(116,189,160,0.6);
        }

        .finddr-output-section {
            max-height: 90vh !important;
            overflow-y: auto;
            border: 1px solid rgba(116,189,160,0.4);
            padding: 0.5rem;
            flex: 0 1 60%;
            background-color: rgba(255,255,255,0.2);
            box-shadow: 0 0 3px 2px rgba(116,189,160,0.4) inset;
        }

            .finddr-output-section::-webkit-scrollbar {
                width: 5px;
            }

            .finddr-output-section::-webkit-scrollbar-track {
                background: linear-gradient(90deg, rgba(116,189,160,0.1),rgba(116,189,160,0.4));
            }


            .finddr-output-section::-webkit-scrollbar-thumb {
                background-color: rgba(116,189,160,0.5);
                border-radius: 10px;
            }

        .dr-info {
            padding: 1rem;
            border-radius: 4px;
            background: linear-gradient(-90deg,rgba(116,189,160,0.1),rgba(116,189,160,0.3),rgba(116,189,160,0.4),rgba(116,189,160,0.1));
            box-shadow: 0 0 5px 0.5px rgba(116,189,160,0.8);
        }


        .dr-img {
            width: 25%;
            height: 100%;
        }

            .dr-img img {
                object-fit: cover;
                color: gray;
            }


        .dr-details {
            font-size: 2rem;
            width: 75%;
            color: rgba(0,0,0,0.5);
        }

        .dr-details-name {
            padding: 2px 2px 4px 0;
        }

        .dr-details-department {
            padding: 2px 2px 3px 0;
            font-size: 0.7em;
            letter-spacing: 1.1px;
        }

            .dr-details-department > i {
                color: rgba(91,146,229,0.7);
            }

        .dr-info > td {
            border: none !important;
        }

        .drp-dept {
            color: gray;
        }

        .appointment-link {
            padding-top: 2rem;
        }

        .table {
            width: 70% !important;
            margin: 2rem auto !important;
        }
    </style>
}

<section class="findr-wrapper">
    <section class="finddr-main-section">
        <section class="finddr-input-section">
            @using (Html.BeginForm())
            {
                <div class="form-horizontal center-sec">
                    <div class="form-group">
                        <div>
                            @Html.DropDownListFor(model => model.DepartmentSelectedId, Model.selectedDepartment, "Find By Speciality", new { @class = "form-control drp-dept" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.TextBox("DrSearch", null, new { @class = "form-control", @placeholder = "Search By Doctor Name" })
                    </div>

                    <div class="form-group">
                        <div>
                            <input type="submit" value="Find" class="btn btn-info" />
                        </div>
                    </div>
                </div>
            }
        </section>

        <section class="finddr-output-section">
            @foreach (var doctor in Model.doctorsName)
            {
                <div>
                    <table class="table">
                        <tr class="dr-info">
                            <td class="dr-img">
                                @if (doctor.ProfileImagePath == null)
                                {
                                    <img src="~/Images/ProfilePictures/doctor (1).png" alt="Doctor" />
                                }
                                else
                                {
                                    <img src="@Url.Content(doctor.ProfileImagePath)" alt="@doctor.D_UserName" />
                                }
                            </td>
                            <td class="dr-details">
                                <div class="dr-details-name">
                                    <span> Dr. </span>@Html.DisplayFor(d => doctor.D_UserName)
                                </div>
                                <div class="dr-details-department">
                                    @{
                                        var Department = doctor.Departments;
                                        string departmentName;

                                        if (Department.Count() > 1)
                                        {
                                            departmentName = String.Join(" | ", Department.Select(q => q.DepartmentName));
                                        }
                                        else
                                        {
                                            departmentName = Department.Select(q => q.DepartmentName).FirstOrDefault();
                                        }
                                    }
                                    <i class="fa fa-stethoscope"></i>&nbsp;@Html.DisplayFor(d => departmentName)
                                </div>
                                <div class="appointment-link">
                                    @Html.ActionLink("Book Appointment", "BookAppointment", "Patient", new { id = Model.id }, new { @class = "btn btn-md btn-info" })
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            }

        </section>
    </section>
</section>