@model E_HealthCare_Web.ViewModels.PatientHomeViewModel

@{
    ViewBag.Title = "Patient Home";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

@section Styles{
    <style type="text/css">

        .patient-dashboard {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        .profile-picture {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center
        }

        .profile_picture-img {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 15rem;
            width: 15rem;
            border-radius: 50%;
        }

        .profile_picture-sec {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            height: 100%;
            width: 100%;
        }

            .profile_picture-sec > img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 50%;
            }

            .profile_picture-sec > a {
                height: fit-content;
                width: fit-content;
                margin: 0 auto;
            }

        .modal-title {
            display: inline-block;
        }

        .close {
            display: inline-block;
        }

        .image-preview-div {
            display: none;
            margin-top: 1rem;
            padding: 0.5rem;
            height: 300px;
            width: 300px;
            position: relative;
        }

            .image-preview-div > img {
                display: none;
                height: 100%;
                width: 100%;
                border-radius: 3px;
                outline: none !important;
                object-fit: cover;
            }

            .image-preview-div > i {
                display: none;
                position: absolute;
                box-sizing: border-box;
                padding: 3px;
                top: 1.7%;
                right: 1.7%;
                color: rgba(255,255,255,0.8);
                background-color: rgba(0,0,0,0.1);
                cursor: pointer;
                transition: 0.3s;
            }

                .image-preview-div > i:hover, .image-preview-div > i:focus {
                    background-color: rgba(0,0,0,0.3);
                    color: rgba(255,255,255,0.8);
                }

        .edit_profile-buttons {
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .patient-details {
            display: grid;
            grid-template-columns: 1fr 3fr;
            padding: 1rem 0.5rem;
            border-radius: 4px;
            box-shadow: 0px 0px 3px 0.5px rgba(116,189,160,0.4);
            background-image: linear-gradient(90deg, rgba(116, 189, 160, 0.4),rgba(116, 189, 160, 0.6),rgba(116, 189, 160, 0.4),rgba(116, 189, 160, 0.2),rgba(116, 189, 160, 0.1));
            border: 1px solid rgba(116, 189, 160, 0.5);
        }


        .patient_details-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            color: rgba(0,0,0,1);
        }

        .patient_details-table label {
            margin-bottom: 0;
        }

        .patient_details-table td {
            padding: 0.5rem;
        }

        .patient-links {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;
            padding: 1rem;
            border-radius: 4px;
            box-shadow: 0px 0px 3px 0.5px rgba(116,189,160,0.4);
            background-image: linear-gradient(180deg, rgba(116, 189, 160, 0.1),rgba(116, 189, 160, 0.5),rgba(116, 189, 160, 0.2));
            border: 1px solid rgba(116, 189, 160, 0.5);
        }

        .link {
            flex: 0 0 30%;
            padding: 1rem;
            border: 1px solid rgba(116,189,160,0.9);
            border-radius: 4px;
            /*box-shadow: 0px 0px 5px 0.1px rgba(116,189,160,0.8);*/
            background-color: rgba(116,189,160,0.7);
            cursor: pointer;
            transition: 0.3s;
        }

            .link:hover, link:focus {
                /*background-color: rgba(116,189,160,0.1);*/
                box-shadow: 0px 0px 5px 0.5px rgba(116,189,160,1);
            }


            .link > a {
                text-decoration: none;
                color: rgba(0,0,0,0.7);
                font-weight: 600;
                font-size: 2rem;
            }

                .link > a:hover, .link > a:focus {
                    color: rgba(0,0,0,1);
                }
    </style>
}


<div class="patient-dashboard">
    <section class="patient-details">
        <div class="profile-picture">
            <div class="profile_picture-img">
                <div class="profile_picture-sec">
                    @{
                        if (Model.ProfileImagePath == null)
                        {
                            <img src="~/Images/ProfilePictures/user-default.png" alt="Patient Profile" />
                        }
                        else
                        {
                            var imagepath = Model.ProfileImagePath;
                            <img src="@Url.Content(imagepath)" alt="Patient Profile" />
                        }
                    }

                    <a href="#" class="btn btn-xs btn-warning" data-toggle="modal" data-target="#basicModal">
                        <span class="fa fa-pencil"></span>&nbsp;Change Image
                    </a>
                </div>

                <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Change Profile Picture</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            @using (Html.BeginForm("UploadImage", "Patient", new { viewActionName = "PatientHome" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {

                                <div class="modal-body">
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(model => model.UserName)
                                    <div class="image-preview-div">
                                        <i class="fa fa-2x fa-remove" id="removeButton"></i>
                                        <img src="#" alt="profile" id="imagePreview" />
                                    </div>
                                    <input type="file" name="imageUpload" id="imageUpload" accept="image/*" />
                                    <br />

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" id="saveImage" class="btn btn-primary" disabled>Save changes</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="edit_profile-buttons">
                @Html.ActionLink(" Edit Profile", "Edit", "Patient", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary fa fa-pencil" })
            </div>
        </div>
        <div class="patient_details-info">
            <table class="patient_details-table">
                <tr>
                    <td colspan="2">
                        @Html.LabelFor(model => model.UserName)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.UserName)
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        @Html.LabelFor(model => model.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.LabelFor(model => model.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Gender)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.LabelFor(model => model.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.LabelFor(model => model.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DOB)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.LabelFor(model => model.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Address)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.LabelFor(model => model.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Phone)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.LabelFor(model => model.BloodGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.BloodGroup)
                    </td>
                </tr>
            </table>
        </div>
    </section>

    <section class="patient-links">
        <div class="link Calculate-BMI">
            @Html.ActionLink(" Calculate BMI", "BMICalculator", "Patient", null, new { @class = "fa fa-calculator" })
        </div>
        <div class="link search-specialist">
            @Html.ActionLink(" Search Specialist", "FindDoctors", "Patient", new { id = Model.Id }, new { @class = "fa fa-search-plus" })
        </div>
        <div class="link search-doctor">
            @Html.ActionLink(" Search Doctor", "FindDoctors", "Patient", new { id = Model.Id }, new { @class = "fa fa-user-md" })
        </div>
        <div class="link medical-records">
            @Html.ActionLink(" Medical Records", "ReportList", "Patient", new { id = Model.Id }, new { @class = "fa fa-book" })
        </div>
        @*<div class="link my-bills">
                @Html.ActionLink(" My Bills","Bills","Patient",new { id = Model.Id}, new { @class = "fa fa-money" })
            </div>*@
        <div class="link appointments">
            @Html.ActionLink(" My Appointments", "AppointmentList", "Patient", new { id = Model.Id }, new { @class = "fa fa-calendar-plus-o" })
        </div>
    </section>

</div>


@section scripts{
    <script language="javascript" type="text/javascript">

        const disableSaveButton = document.getElementById('saveImage');

        $('#imageUpload').change(function () {

            if (this.files && this.files[0]) {
                var fileReader = new FileReader();
                fileReader.readAsDataURL(this.files[0]);


                fileReader.onload = function (x) {
                    $('.image-preview-div').css('display', 'inherit');
                    $('#imagePreview').css('display', 'inherit');
                    $('#removeButton').css('display', 'inherit');
                    $('#imagePreview').attr('src', x.target.result);
                    disableSaveButton.removeAttribute('disabled');

                }
            }
        });

        $('#removeButton').click(function () {
            $('#imagePreview').attr("src", "#");
            $('#imagePreview').css('display', 'none');
            $('#removeButton').css('display', 'none');
            $('.image-preview-div').css('display', 'none');
            $('#imageUpload').val('');
            disableSaveButton.setAttribute('disabled', 'true');
        });

    </script>
}